<configuration>
	<property name="LOG_ROOT" value="c:/temp/logs" />
	<property name="LOG_FILE" value="application" />
	<property name="HTML_LOG_FILE" value="applicationLogs" />
	<property name="XML_LOG_FILE" value="applicationLogs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>	
    
    <if condition='property("ENV").equals("prod")'>
    	<then>
			<appender name="DATA_MASK" class="ch.qos.logback.core.ConsoleAppender">
		        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		           <layout class="com.howtodoinjava.demo.logback.DataMaskingPatternLayout">
				       <maskPattern>((?!000|666)[0-8][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4})</maskPattern> <!-- SSN -->
				       <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email -->
				       <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		           </layout>
		        </encoder>
		    </appender>
	    </then>
	    <else>
	    	<appender name="DATA_MASK" class="ch.qos.logback.core.ConsoleAppender">
		        <encoder>
					<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
				</encoder>
		    </appender>
	    </else>
    </if>
	
	<appender name="aiAppender"
              class="com.microsoft.applicationinsights.log4j">
    </appender>
	
	<!-- <logger name="com.howtodoinjava.app" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="HTML"/>
        <appender-ref ref="XML"/>
    </logger>  -->

	<root level="DEBUG">
		<appender-ref ref="STDOUT" /> 
		<appender-ref ref="DATA_MASK" />
		<appender-ref ref="aiAppender" />
	</root>
</configuration>